[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
graphviz = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-datadir = "*"
pytest-django = "*"
model-mommy = "*"

[packages]
barbara = "*"
dj-database-url = "*"
django = "*"
django-choices-enum = {git = "https://github.com/NewVadim/django-choices-enum.git",ref = "0.3"}
django-extensions = "*"
django-fsm = "*"
django-hashid-field = "*"
django-model-utils = "*"
django-webpack-loader = "*"
djangorestframework = "*"
gitpython = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.7"
