[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
barbara = "*"

[packages]
django = "*"
django-model-utils = "*"
django-choices-enum = {git = "https://github.com/NewVadim/django-choices-enum.git",ref = "0.3"}
django-hashid-field = "*"
dj-database-url = "*"
python-dotenv = "*"
psycopg2-binary = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
