.flat-link
  text-decoration none

.flat-link span
  color: black

.vertical-middle
  vertical-align middle

.icon-text
  @extend .vertical-middle
  padding-left 1em

.space-evenly
  justify-content: space-evenly
