.vertical-middle
  vertical-align middle

.icon-text
  @extend .vertical-middle
  padding-left 1em

.space-evenly
  justify-content: space-evenly

.target-name, .project-name
  color: black
  text-decoration none
